.one
{
    height: 60px;
    width: 100%;
}
.two
{
    height: 40px;
    width: 80%;
    margin: auto;
    display: block;
    background-color: rgb(146, 30, 94);

}
.three
{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}
#uno
{
    float: left;
    display: flex;
    align-items: center;
}
#dos
{
    float: left;
}#tres
{
    float: left;
}#cuantro
{
    float: left;
}#cinco
{
    float: left;
}#seis
{
    float: left;
}
.info
{
    height: 600px;
    width:80%;
    display: flexbox;
    background: #000;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.group1
{
    height: 550px;
    width: 50%;
    background: #ac7c7c;
    margin: 5px;
    padding: 20px;
    border: 1px, bisque;
    float: left;
    border-radius: 5px;
}
.group2
{
    height: 550px;
    width: 30%;
    background: #ac7c7c;
    margin: 5px;
    padding: 20px;
    border: 1px, bisque;
    float: left;
    border-radius: 5px;
}